*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
main .vid{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* send video to the back */
}
nav{
    position: relative;
    background-color: #3ffeeb5e;
    border-radius: 5rem;
    margin: 1rem 2rem ;
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;   
    box-shadow: 2px 1px 10px inset rgb(211, 209, 209);
}
nav h1{
    margin: 1rem 2rem;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;

}
.btns{
    margin: 1rem 2rem;

}
button{
    padding: 1rem 2rem;
    margin: 0.3rem;
    border: none;
    border-radius: 2rem;
    background-color: #0bf5ed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #19625F;
    transition: transform 0.6s ease-in-out ;
}
button:hover{
    transform: scale(1.1);
    box-shadow: 2px 1px 10px whitesmoke;
  }

article{
    position: relative;
    color: #0ae2db;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}
article h1{
    -webkit-text-stroke: 0.6px rgb(255, 255, 255);
    font-size: 3.5rem;
}
article h5{
    font-size: 1.5rem;
    margin: 30px 0px ;
    -webkit-text-stroke: 0.3px rgb(128, 122, 122);
    color: rgb(245, 226, 191);

}
article button{
    margin-top: 20px;
    color:#213f3e;
    font-size: 2rem;
}
